$primary-color: #3b5bfd;
$sad-bg: #9aa0a6;
$happy-bg: #ffd966;
$motivated-bg: #6bcf63;
$stressed-bg: #e63946;
$calm-bg: #a7c7e7;
$color-neutral-50: #f5f7fa;
$color-neutral-950: #0e121b;
$color-neutral-900: #191b25;
