$primary-color: #3b5bfd;
$sad-bg: #9aa0a6;
$happy-bg: #ffd966;
$motivated-bg: #6bcf63;
$stressed-bg: #e63946;
$calm-bg: #a7c7e7;
$color-neutral-50: #f5f7fa;
$color-neutral-100: #e5e7eb;
$color-neutral-200: #d1d5db;
$color-neutral-300: #9ca3af;
$color-neutral-400: #6b7280;
$color-neutral-500: #4b5563;
$color-neutral-600: #374151;
$color-neutral-700: #1f2937;
$color-neutral-800: #111827;
$color-neutral-950: #0e121b;
$color-neutral-900: #191b25;

:root {
  --background-color: $color-neutral-100;
  --text-color: $color-neutral-950;
  --forebackground-color: $color-neutral-50;
  --forebackground-color: $color-neutral-50;
  --toggle-main-color: $color-neutral-600;
}

// light theme colors
body.light-theme {
  --background-color: $color-neutral-100;
  --text-color: $color-neutral-950;
  --forebackground-color: $color-neutral-50;
  --forebackground-color: $color-neutral-50;
  --toggle-main-color: $color-neutral-600;
}

// Dark theme color
body.dark-theme {
  --background-color: #{$color-neutral-950};
  --text-color: #{$color-neutral-100};
  --forebackground-color: #{$color-neutral-800};
  --forebackground-color: #{$color-neutral-800};
  --toggle-main-color: $color-neutral-300;
}
