@use "./_variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.journal-app {
  font-family: "Montserrat", sans-serif;
  display: flex;
  margin: 0 auto;
  padding: 20px;
  &__sidebar {
    margin-right: 20px;
    width: 250px;
  }

  &__main {
    flex-grow: 1;
    max-width: 500px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__entries {
    display: grid;
    gap: 20px;
  }

  .journal-entry {
    background-color: $color-neutral-50;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;

    &--happy {
      border-left: 10px solid $happy-bg;
      color: $happy-text;
    }
    &--sad {
      border-left: 10px solid $sad-bg;
      color: $sad-text;
    }
    &--motivated {
      border-left: 10px solid $motivated-bg;
      color: $motivated-text;
    }
    &--stressed {
      border-left: 10px solid $stressed-bg;
      color: $stressed-text;
    }
    &--calm {
      border-left: 10px solid $calm-bg;
      color: $calm-text;
    }

    &__title {
      font-size: 1.2em;
    }
  }

  @media (max-width: 600px) {
    &__entries {
    }
  }
}
